DATABASE_NAME=
DATABASE_PORT=
DATABASE_HOSTNAME=
DATABASE_PASSWORD=
DATABASE_USERNAME=

SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
ALGORITHM=
RECOVERY_SECRET_KEY=
RECOVERY_TOKEN_EXPIRE_MINUTES=

RESEND_API_KEY=
DEVELOPMENT_EMAIL=