.homepage-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.scheduling {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0.75rem 1.5rem;

    background-color: var(--color-white);
    color: var(--color-brown);

    border-radius: 8px;
    text-decoration: none;

    font-family: "Poppins", sans-serif;
    font-weight: 540;
    font-size: 25px;

    width: 250px;
    height: 110px;

    margin-top: -40px;
    
}

.scheduling img {
    position: absolute;
    margin-bottom: 40px;
    height: 100px;
}

.scheduling-text {
    margin-top: 50px;
}