.register-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 2rem;
}

.logo-box {
    display: flex;
    justify-content: center;
    margin-top: clamp(-20px, -4vw, -70px);
    margin-right: clamp(0px, 10vw, 100px);
}

.logo-box img {
    margin-left: clamp(0px, 10vw, 100px);
    margin-bottom: clamp(-10px, -3vw, -50px);
    width: clamp(180px, 70%, 350px);
    height: auto;
}

.form-register-container {
    position: relative;
    background-color: var(--color-white);
    padding: clamp(1rem, 3vw, 2.5rem);
    width: 100%;
    max-width: 500px;
    border-radius: 30px;
    box-shadow: 0px 10px 60px var(--color-brown);
}

.header-text h1 {
    text-align: center;

    font-family: "Lobster", sans-serif;
    font-weight: 500;
    
    max-width: 100%;
}

.header-text p {
    text-align: center;
    
    font-family: "Poppins", sans-serif;
    font-weight: 500;

    max-width: 100%;
}

.form-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;
}

.input-group {
    position: relative;
    display: flex;
}

.input-field {
    font-family: "Poppins", sans-serif;
    font-weight: 400;

    color: var(--color-white);
    
    height: 48px;
    padding-inline: 14px;
    
    border: 2px solid var(--color-background);
    background-color: var(--color-brown);
    border-radius: 10px;
    
    max-width: 90%;
    margin: auto;
    outline: none;
    margin-top: -10px;
}

.requirements {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Merriweather", serif;
    font-weight: 300;
    font-size: 6px;

    margin-top: -10px;
}

.requirement {
    display: flex;
    align-items: center;
    gap: 2px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
    margin-left: 8px;
}

.dot.valid {
    background-color: #22c55e;
}

.dot.invalid {
    background-color: #ef4444;
}

.terms {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Merriweather", serif;
    font-weight: 300;

    font-size: 8px;
    gap: 5px;
    margin-top: -8px;
}

.check:checked{
    accent-color: var(--color-brown);
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 200px;
    height: 50px;

    margin: auto;
    margin-top: -5px;

    border: none;
    border-radius: 30px;
    cursor: pointer;
    padding-inline: 8px;

    font-family: "Poppins", sans-serif;
    background-color: var(--color-brown);
    color: var(--color-white);
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0px 8px 20px var(--color-background);
}

.error-message {
    text-align: center;

    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 300;

    font-size: 12px;
    margin-top: -5px;
    color: red;
}

.form-link {
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-size: 10px;

    margin-top: -8px;
}

